@import url("https://fonts.googleapis.com/css2?family=Courgette&family=PT+Sans&display=swap");

$font-family: "Courgette", cursive;
$border: 1px solid rgb(221, 219, 219);
$background-color-input: rgb(250, 250, 250);
$background-color-button: rgb(0, 149, 246);
